asgiref==3.8.1
Django==5.0.3
django-stubs==4.2.7
django-stubs-ext==4.2.7
mypy==1.9.0
mypy-extensions==1.0.0
sqlparse==0.4.4
tomli==2.0.1
types-pytz==2024.1.0.20240203
types-PyYAML==6.0.12.20240311
typing_extensions==4.10.0
